@charset "UTF-8";

:root {
  --falcon-blue: #2c7be5;
  --falcon-indigo: #727cf5;
  --falcon-purple: #6b5eae;
  --falcon-pink: #ff679b;
  --falcon-red: #e63757;
  --falcon-orange: #fd7e14;
  --falcon-yellow: #f5803e;
  --falcon-green: #00d27a;
  --falcon-teal: #02a8b5;
  --falcon-cyan: #27bcfd;
  --falcon-white: #fff;
  --falcon-gray: #748194;
  --falcon-gray-dark: #4d5969;
  --falcon-gray-black: #000;
  --falcon-gray-100: #f9fafd;
  --falcon-gray-200: #edf2f9;
  --falcon-gray-300: #d8e2ef;
  --falcon-gray-400: #b6c1d2;
  --falcon-gray-500: #9da9bb;
  --falcon-gray-600: #748194;
  --falcon-gray-700: #5e6e82;
  --falcon-gray-800: #4d5969;
  --falcon-gray-900: #344050;
  --falcon-gray-1000: #232e3c;
  --falcon-gray-1100: #0b1727;
  --falcon-gray-white: #fff;
  --falcon-primary: #2c7be5;
  --falcon-secondary: #748194;
  --falcon-success: #00d27a;
  --falcon-info: #27bcfd;
  --falcon-warning: #f5803e;
  --falcon-danger: #e63757;
  --falcon-light: #f9fafd;
  --falcon-dark: #0b1727;
  --falcon-primary-rgb: 44, 123, 229;
  --falcon-secondary-rgb: 116, 129, 148;
  --falcon-success-rgb: 0, 210, 122;
  --falcon-info-rgb: 255, 22, 31; /* 39, 188, 253;*/
  --falcon-warning-rgb: 245, 128, 62;
  --falcon-danger-rgb: 230, 55, 87;
  --falcon-light-rgb: 249, 250, 253;
  --falcon-dark-rgb: 11, 23, 39;
  --falcon-white-rgb: 255, 255, 255;
  --falcon-black-rgb: 0, 0, 0;
  --falcon-body-color-rgb: 94, 110, 130;
  --falcon-body-bg-rgb: 237, 242, 249;
  --falcon-font-sans-serif: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --falcon-font-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --falcon-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --falcon-body-font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --falcon-body-font-size: 1rem;
  --falcon-body-font-weight: 400;
  --falcon-body-line-height: 1.5;
  --falcon-body-color: #5e6e82;
  --falcon-body-bg: #edf2f9;
}

div#navbarStandard {
    margin-left: 15px;
    margin-top: 15px;
}

.whatsappchat {
	position: fixed;
    display: inline;
    bottom: 115px;
    right: 15px;
    float: right;
    z-index: 1000;
}

.pulso {
  -webkit-animation: pulso 2.5s infinite;
    -moz-animation: pulso 2.5s infinite;
    -o-animation: pulso 2.5s infinite;
    animation: pulso 2.5s infinite;
}

@-webkit-keyframes pulso {
  0% {
    -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);        
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);        
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
  }
}

a {
    color: #ff161f;
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    color: #ff161f;
    text-decoration: underline;
}

.btn-primary, .navbar-vertical .btn-purchase, .tox .tox-menu__footer .tox-button:last-child, .tox .tox-dialog__footer .tox-button:last-child {
    color: #fff;
    background-color: #ff161f;
    border-color: #e4e4e4;
    -webkit-box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%);
}

.btn-primary:hover, .navbar-vertical .btn-purchase:hover, .tox .tox-menu__footer .tox-button:hover:last-child, .tox .tox-dialog__footer .tox-button:hover:last-child {
    color: #d8d8d8;
    background-color: #1f191a;
    border-color: #dcdcdd;
}

.btn-check:checked + .btn-primary, .navbar-vertical .btn-check:checked + .btn-purchase, .tox .tox-menu__footer .btn-check:checked + .tox-button:last-child, .tox .tox-dialog__footer .btn-check:checked + .tox-button:last-child, .btn-check:active + .btn-primary, .navbar-vertical .btn-check:active + .btn-purchase, .tox .tox-menu__footer .btn-check:active + .tox-button:last-child, .tox .tox-dialog__footer .btn-check:active + .tox-button:last-child, .btn-primary:active, .navbar-vertical .btn-purchase:active, .tox .tox-menu__footer .tox-button:active:last-child, .tox .tox-dialog__footer .tox-button:active:last-child, .btn-primary.active, .navbar-vertical .active.btn-purchase, .tox .tox-menu__footer .active.tox-button:last-child, .tox .tox-dialog__footer .active.tox-button:last-child, .show > .btn-primary.dropdown-toggle, .navbar-vertical .show > .dropdown-toggle.btn-purchase, .tox .tox-menu__footer .show > .dropdown-toggle.tox-button:last-child, .tox .tox-dialog__footer .show > .dropdown-toggle.tox-button:last-child {
    color: #fff;
    background-color: #1f191a;
    border-color: #dedfe0;
}

.btn-check:focus + .btn-primary, .navbar-vertical .btn-check:focus + .btn-purchase, .tox .tox-menu__footer .btn-check:focus + .tox-button:last-child, .tox .tox-dialog__footer .btn-check:focus + .tox-button:last-child, .btn-primary:focus, .navbar-vertical .btn-purchase:focus, .tox .tox-menu__footer .tox-button:focus:last-child, .tox .tox-dialog__footer .tox-button:focus:last-child {
    color: #fff;
    background-color: #1f191a;
    border-color: #dddedf;
    -webkit-box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%), 0 0 0 0 rgb(76 143 233 / 50%);
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%), 0 0 0 0 rgb(76 143 233 / 50%);
}

.terms-sidebar .nav-link.active {
    color: #ff161f;
}

#cajacookies {
    box-shadow: 0px 0px 3px 3px #808080;
    background-color: white;
    color: black;
    padding: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 10000;
}

#cajacookies button {
    line-height: 10px;
    vertical-align: initial;
}

li#iniMenu a.nav-link {
    background-color: #fc1d2c;
    color: #fff;
    border-radius: 12px;
    padding: 5px 10px;
    border: solid 1px #fff;
}