.audience-chart-header{
  .firefox &{
    min-height: 96px;
  }
}
.chart-tab{
  .nav-link{
    &:not(.active):hover{
      border-color: transparent !important;
    }
    &.active{
      border-bottom: 2px solid $primary;
      background-color:  var(--#{$variable-prefix}card-bg);
    }
  }
}